<thf-page-edit t-title="Configuração">
    <div class="thf-row">

        <thf-widget t-title="Cartas" class="pad-b-10 thf-sm-12 thf-md-6 thf-lg-6 thf-xl-6">

            <div class="thf-row">
                <div class="thf-row">
                    <div class="thf-sm-12 thf-md-12 thf-lg-12 thf-xl-12">
                        <thf-multiselect
                            name="cartasEspecias"
                            [(ngModel)]="cartasEspecias"
                            t-placeholder="Cartas Especiais"
                            t-hide-search="true"
                            [t-options]="opcoesCartasEspecias">
                        </thf-multiselect>
                    </div>
                </div>

                <thf-select name="cbAplicar" class="thf-md-12 thf-lg-4" [(ngModel)]="cbAplicar"
                    [t-options]="opcoesCarta">
                </thf-select>

                <!--
                <div class="pad-b-5 thf-sm-12 thf-md-12 thf-lg-4">
                    <thf-dropdown
                        class="thf-sm-12 thf-md-12 thf-lg-12 thf-xl-12"
                        [t-label]="lbAplicar"
                        [t-actions]="sequencias">
                    </thf-dropdown>
                </div>
                -->

                <thf-button (t-click)="removerCarta()" class="thf-mb-1 thf-mt-1 thf-md-12 thf-lg-4" t-label="Remover"
                    t-type="danger">
                </thf-button>

                <thf-button (t-click)="addCarta()" class="thf-mb-1 thf-mt-1 thf-md-12 thf-lg-4" t-label="Adicionar"
                    t-type="primary">
                </thf-button>
            </div>

            <div class="thf-row thf-mb-1">
                <thf-grid
                    class="thf-sm-12 thf-md-12 thf-lg-12 thf-xl-12"
                    [t-row-actions]="rowActions"
                    [t-data]="configSalaTmp.cartas"
                    [t-columns]="columns">
                </thf-grid>
            </div>

        </thf-widget>

        <thf-widget t-title="Ações" class="pad-b-10 thf-sm-12 thf-md-6 thf-lg-6 thf-xl-6">
            <thf-select name="cbResetar" [(ngModel)]="cbResetar" t-label="Opção de Resetar" [t-options]="opcoes">
            </thf-select>

            <thf-select name="cbFinalizar" [(ngModel)]="cbFinalizar" t-label="Opção de Finalizar" [t-options]="opcoes">
            </thf-select>

            <thf-select name="removeJogador" [(ngModel)]="removeJogador" t-label="Remover Jogadores"
                [t-options]="opcoes">
            </thf-select>

            <thf-select name="removeAdm" [(ngModel)]="removeAdm" t-label="Remover Administradores" [t-options]="opcoes">
            </thf-select>
        </thf-widget>
    </div>
</thf-page-edit>