<thf-page-default ng-if = "pontos !== 'undefined'">
    <div  ng-if="1 === 2" class="thf-sm-12 thf-md-7 thf-lg-4 thf-xl-3"> 
      <thf-widget t-title="Pontos">  
          <thf-input
            class="thf-md-12"
            name="nome"
            t-required="true"
            t-placeholder="Nome">
          </thf-input>

          <div ng-repeat="ponto in pontos">
            <thf-button 
              class= {{ponto.class}}
              t-label= {{ponto.label}}
              t-type="default" >
            </thf-button>
          </div>

         <!--
          <div ng-repeat="pontos in ponto">
            <thf-button 
              class= {{ponto.class}}
              t-label= {{ponto.label}}
              t-type="default" >
            </thf-button>
          </div>
        -->
        </thf-widget>
  
      </div>
</thf-page-default>
