<thf-page-default>
  <div class="thf-row">

    <div class="pad-b-10 thf-sm-12 thf-md-7 thf-lg-6 thf-xl-3">
      <thf-widget t-title={{descWidget}}>

        <div class="row">
          <div *ngIf="isJogador && !fimJogo">
            <div class="thf-sm-12">
              <thf-button *ngFor="let carta of cartas" (t-click)="cartaClick(carta)" class="pad-b-10 thf-sm-6 thf-md-6 thf-lg-4 cartaSelec"
                t-label={{carta.label}} t-type={{carta.type}}>
              </thf-button>
            </div>
          </div>

          <div *ngIf="fimJogo">
            <app-estatistica [jogadores]='jogadores'></app-estatistica>
          </div>
        </div>

        <div *ngIf="!isJogador || observadores.length === 0">
          <p>&#160;</p>

          <div class="row">
            <thf-button class="pad-b-10 thf-sm-12 thf-md-6 thf-lg-6 thf-xl-6" (t-click)="resetClick()" t-label="Resetar" t-type="primary">
            </thf-button>
            <thf-button class="pad-b-10 thf-sm-12 thf-md-6 thf-lg-6 thf-xl-6" (t-click)="fimClick()" t-label="Finalizar" t-type="primary">
            </thf-button>
          </div>
        </div>

      </thf-widget>

    </div>

    <div class="pad-b-10 thf-sm-12 thf-md-5 thf-lg-3 thf-xl-3">
      <app-votos [jogadores]="jogadores" [fimJogo]="fimJogo">
      </app-votos>
    </div>

    <div *ngIf="observadores !== undefined && observadores.length > 0" class="pad-b-10 thf-sm-12 thf-md-5 thf-lg-3 thf-xl-3">
      <app-observador [observadores]="observadores">
      </app-observador>
    </div>
  </div>
</thf-page-default>
