<div class="thf-row">
  <thf-widget
    class="thf-sm-12 thf-md-12 thf-lg-12"
    t-title="Contato"
    t-primary-label="Apoiar"
    (t-primary-action)="apoiar()"
    t-secondary-label="Enviar e-mail"
    (t-secondary-action)="sendContact(contact.email)">

    <thf-avatar
      class="thf-sm-12 thf-md-4 thf-lg-4"
      t-size="lg"
      t-src="../../assets/eu.jpg">
    </thf-avatar>

    <div class="thf-sm-12 thf-md-8 thf-lg-8">
      <p><strong>Autor:</strong> {{ contact.name }}</p>
      <p><strong>E-mail:</strong> {{ contact.email }}</p>
      <p><strong>Versão:</strong> 1.0-beta</p>
    </div>

  </thf-widget>
</div>