<thf-page-default>
    <div class="thf-sm-12 thf-md-7 thf-lg-4 thf-xl-3"> 
      <form #f="ngForm">
        <thf-widget t-title="Criar/Entrar na Sala">

          <thf-input
            class="thf-md-12"
            name="idSala"
            [(ngModel)]="idSala"
            [t-maxlength]="12"
            [t-minlength]="3"
            t-required="true"
            t-placeholder="ID Sala">
          </thf-input>

          <thf-input
            class="thf-md-12"
            name="nome"
            [(ngModel)]="nome"
            [t-maxlength]="12"
            [t-minlength]="3"
            t-required="true"
            t-placeholder="Nome">
          </thf-input>

          <thf-switch
            name="jogador"
            class="thf-md-12"
            id="jogador"
            [(ngModel)]="jogador"
            t-label-off="Administrador"
            t-label-on="Jogador"
            t-required="true" >
          </thf-switch>

          <thf-button
            (t-click)="entrar()"
            class="pad-b-20 thf-md-12"
            t-label="Criar/Entrar"
            t-type="primary" >
          </thf-button>
        </thf-widget>
      </form>
    </div>
</thf-page-default>
