<po-page-default>
    <div class="po-sm-12 po-md-7 po-lg-4 po-xl-3"> 
      <form #f="ngForm">
        <po-widget p-title="Criar/Entrar na Sala">

          <po-input
            class="po-md-12"
            name="idSala"
            [(ngModel)]="idSala"
            [p-maxlength]="12"
            [p-minlength]="3"
            p-required="true"
            p-placeholder="ID Sala">
          </po-input>

          <po-input
            class="po-md-12"
            name="nome"
            [(ngModel)]="nome"
            [p-maxlength]="12"
            [p-minlength]="3"
            p-required="true"
            p-placeholder="Nome"
            (keyup.enter)="entrar('jogo')">
          </po-input>

          <po-switch
            name="jogador"
            class="po-md-12"
            id="jogador"
            [(ngModel)]="jogador"
            p-label-off="Administrador"
            p-label-on="Jogador"
            p-required="true" >
          </po-switch>

          <po-button
            (p-click)="entrar('jogo')"
            class="pad-b-20 po-md-12"
            p-label="Criar/Entrar"
            p-type="primary" >
          </po-button>

          <po-button
            (p-click)="entrar('configuracao')"
            class="pad-b-20 po-md-12"
            p-label="Configurar"
            p-type="default" >
          </po-button>
        </po-widget>
      </form>
    </div>
</po-page-default>
