<po-widget p-title="Issues para Votar">
  <app-input-load name="projeto" #projeto class="po-sm-12 po-md-12 po-lg-4 po-xl-4" pMaxlength="20"
    [isLoad]=isLoadProjeto pPlaceholder="Projeto" [isValid]=isValidProjeto (execKeyUp)=buscarBoard()
    [pTxtInit]=authService.projetoJira>
  </app-input-load>
  <po-select name="board" class="po-sm-12 po-md-12 po-lg-8 po-xl-8" [(ngModel)]="board" p-placeholder="Selecione Board"
    [p-options]="opcoesBoard" [p-disabled]=!hasBoard (p-change)="buscarSprintEvent.next()">
  </po-select>
  <po-select name="sprint" class="po-sm-12 p-md-12 p-lg-12 p-xl-12" [(ngModel)]="sprint"
    p-placeholder="Selecione Sprint" [p-options]="opcoesSprint" [p-disabled]=!hasSprint
    (p-change)="buscarIssueEvent.next()">
  </po-select>
  <po-table class="po-sm-12 po-md-12 po-pb-1" [p-height]=heightTable [p-items]="listaIssue" [p-columns]="columnsIssue"
    [p-striped]="true" [p-loading]=isLoadIssues>
  </po-table>

  <po-button class="po-offset-md-4 po-md-4 po-offset-lg-4 po-lg-4 po-offset-xl-4 po-xl-4" (p-click)="abrirIssue()"
    p-label="Abrir Issues" p-type="primary" [p-disabled]="!hasIssue">
  </po-button>
</po-widget>