<div class="po-wrapper">
  <po-toolbar p-title="{{title}}" [p-profile]="profile" [p-profile-actions]="profileActions"></po-toolbar>

  <po-menu display="none" [p-menus]="menus" p-collapsed>
  </po-menu>

  <router-outlet></router-outlet>
</div>

<po-modal #modalSobre p-click-out="true" p-size="md" p-title="Sobre" [p-primary-action]="primaryActionSobre">
  <app-contato></app-contato>
</po-modal>

<po-modal #modalJira p-click-out="true" p-size="md" p-title="Login Jira" [p-primary-action]="primaryActionJira"
  [p-secondary-action]=secondaryActionJira>
  <app-login (conectar)="conJira()"></app-login>
</po-modal>