
:host /deep/
.thf-menu-logo{
	background:url(../assets/topMenu.png) no-repeat 10% 100% !important;
	background-attachment: fixed;
	background-size: 100px 50px !important;
}

:host /deep/
.thf-disclaimer{
	margin-bottom: 10px !important;
}