<div *ngIf="pontuacao !== undefined">

  <h3 class="thf-sm-12 txt-vermelho">Mais Votado: {{maisVotado}}</h3>
  <h3 class="thf-sm-6 thf-md-6 thf-lg-6">Ponto</h3>
  <h3 class="thf-sm-6 thf-md-6 thf-lg-6">Votos</h3>
  <div *ngFor="let ponto of pontuacao">
    <h4 class="thf-sm-6 thf-md-6 thf-lg-6">
      <span *ngIf="ponto.carta.label > ''">{{ponto.carta.label}}</span>
      <span *ngIf="!ponto.carta.label" class="txt-vermelho"> - </span>
    </h4>
    <h4 class="thf-sm-6 thf-md-6 thf-lg-6">{{ponto.votos}}</h4>
  </div>
</div>
